.App {
  text-align: center;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Noto Sans Bengali', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}